h1 {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   vertical-align: baseline;
   background: transparent;
}

body {
   margin: 0;
   font-family: sans-serif;
}

header {
   background: aliceblue;
}

header input {
   height: 2em;
   line-height: 2em;
   padding: 1em;
}

main {
   color: LightSeaGreen;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 2em;
}

h3 {
   max-width: 100px;
}

section h3, p {
   padding: 20px;
}

section {
   background: aliceblue;
}

section img {
   max-width: 100%;
}

#validatie {
   text-align: right;
}

#deco {
   display: none;
   /* alleen bij grotere viewports wordt deze getoond */
}

#opschrijfboek {
   display: grid;
   grid-template-columns: 1fr 1fr;
   
}

.onder {
   background-color: #54afa9;
}

@media only screen and (min-width: 600px) {
   #deco {
      display: grid;
   }
}